# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Python dependencies
__pycache__/
*.py[cod]
env/
.env
venv/
*.egg-info/

# Java dependencies
*.class
*.jar
*.war
target/

# Ruby dependencies
*.gem
vendor/bundle/

# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.claude/